<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- <connectionStrings configSource="Secret.config" /> -->
    <connectionStrings>
        <clear />
        <add name="BookishConnectionString"
             connectionString="Data Source=(local);Database=Bookish;User ID=ZOO\SteJac;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    
    <appSettings>
        <add key="TestSetting" value="TestValue" />
    </appSettings>
</configuration>
